* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #111;
  color: #999;
}

body {
  background-color: #111;
  color: #eee;
  font-family: Arial, sans-serif;
}

h2 {
  padding-bottom: 20px;
}

.card {
  border: 1px solid white;
}

.card-img-top {
  height: 250px;
  width: 200px;
  object-fit: cover;
}

.accordion-item,
.modal-content {
  background-color: #1e1e1e;
  color: #ccc;
}
